@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);
body{
	font-family: 'Raleway', Helvetica, sans-serif;
}
h1{
	text-align: center;
}

nav{
	top:0px;
  	height:50px;
  	position:fixed;
  	width:100%;
  	z-index:1;
  	background-color: #323232;
  	color:#F9B100;
  	display: flex;
  	flex-direction: row;
}

nav > a, nav > ul > li > a{
	text-decoration: none;
	color: #F9B100;
}

nav > a:hover, nav > ul > li > a:hover{
	text-decoration: none;
	color: #d1c649;
}

.beer-card{
	border:1px solid #F9F9F9;
	border-radius: 8px;
  	display: flex;
 	flex-direction: column;
	width: 200px;
	margin: 10px;
	background-color: #F9F9F9;
}

.beer-img{
	width: 100px;
	height:250px;
	margin: auto;
	padding: 10px;
}
.beer-desc{
	height: 70px;
	text-align: center;
	font-weight: bold;
	padding: 10px;
}

#beerList{
	margin-top: 20px;
	width: 100%;
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
}

.clickable-card, .clickable-card:hover{
	text-decoration: none;
	color: black;
}

.beer-card:hover{
	background-color: #e8e6e6;
	cursor: pointer;
}

.detail{
	margin-top: 50px;
	min-height: 70vh;
	display: grid;
	grid-template-columns: 40% 60%;
	background-color: #EBEBEB;
}
.detail-img{
	margin-top: 10%;
	height: 60%;
	padding: 20px;
	text-align: center;
}

.detail-img > img{
	height: 300px;
}

.detail-desc{
	height: 100%;
	padding: 30px;
}

#filter{
	margin: 10px;
}

#morefilter{
	margin-left: 10px;
}

#morefilter:hover{
	cursor: pointer;
	text-decoration: underline;
}


.d_wrapper{
	height: 100%;
	width: 100%;
	background-color: #323232;
	position:relative;
	top:0px;
    left:0px;
}

.bg{
	height: 100%;
	width: 100%;
	background-color: #323232;
	opacity: 0.5;
	position:absolute;
	top:0px;
    left:0px;
	z-index: 1;
	text-align: center;
}

.dialog{
	background-color: #323232;
	margin: auto;
	position: absolute;
	top:30%;
	left:20%;
	text-align: right;
	z-index: 2;
	border-radius: 5px 5px 5px 5px;
}

.content{
	border-top: 1px solid EBEBEB;
	background-color: white;
	width: 100%;
	height: 90%;
	margin-top: 1%;
	text-align: center;
	border-radius: 0px 0px 5px 5px;
}

.closeBtn{
	cursor: pointer;
}

.logo{
	width:160px;
	height: 43px;
}
